#upload-container {
  border-radius: 0 0 6px 6px;
  padding: 1rem 0.5rem;
}
#upload-container .upload-area {
  display: flex;
  flex-direction: column;
  position: relative;
}
#upload-container .upload-area label {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}
#upload-container .upload-area span:first-of-type {
  font-size: 0.8rem;
  color: #818698;
  align-self: center;
}
#upload-container .upload-area input {
  width: 40%;
  background: transparent;
  height: 25vh;
  align-self: center;
  margin: 1rem 0;
  border: 2px solid #055ffc;
  border-radius: 6px;
  transition: all 300ms ease;
}
#upload-container .upload-area input:hover {
  background: #0f1115;
  transition: all 300ms ease;
}
#upload-container .upload-area button {
  align-self: center;
  margin-bottom: 0.5rem;
  color: #fff;
  transition: all 300s ease;
}
#upload-container .upload-area .upload-button {
  position: absolute;
  right: 0;
}
#upload-container .preview-area {
  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease;
}
#upload-container .preview-area.active {
  opacity: 1;
  visibility: visible;
  transition: all 300ms ease;
}
#upload-container .preview-area .preview-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
}
#upload-container .preview-area .preview-grid .preview-image {
  width: 20%;
  margin: 0.2rem;
  padding: 0.5rem;
  position: relative;
  background: #0f1115;
  color: #818698;
  border-radius: 3px;
  box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
  transition: all 300ms ease;
}
#upload-container .preview-area .preview-grid .preview-image:hover {
  transform: scale(1.05);
  transition: all 300ms ease;
}
.preview-image img {
  width: 100%;
}
.preview-image .image-data {
  display: flex;
}
.preview-image .image-data span {
  font-size: 0.8rem;
  width: 70%;
  word-wrap: break-word;
}
.preview-image .image-data span:last-of-type {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.preview-image .delete {
  color: #055ffc;
  font-size: 1.2rem;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 10px;
  cursor: pointer;
}
input[type='file'] {
  color: transparent;
}
input[type='file']::-webkit-file-upload-button {
  visibility: hidden;
}
